[data-theme='light'] {
    --bgColor: rgb(245, 245, 245);
    --txtColor: rgb(34, 34, 34);

    --navColor: #e0e0e0;

    --highlightColour: #008b8b;

    --bgOpacity: 0.5;

    --pictureOverlay: rgba(245, 245, 245, 0.5);

    --svgFilter: invert(0%) sepia(24%) saturate(154%) hue-rotate(150deg) brightness(111%) contrast(73%);
}

[data-theme='dark'] {
    --bgColor: #222;
    --txtColor: #f5f5f5;

    --navColor: #333;

    --highlightColour: #00b6b6;

    --bgOpacity: 0.3;

    --pictureOverlay: rgba(34, 34, 34, 0.9);

    --svgFilter: invert(100%) sepia(4%) saturate(160%) hue-rotate(272deg) brightness(114%) contrast(92%);
}
