@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './master';

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    background-color: var(--bgColor);
    color: var(--txtColor);
    width: 100%;
    height: 100%;

    position: relative;
}

#background__fix {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--pictureOverlay), var(--pictureOverlay)), url('../assets/me_drawing.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 100%;
    @media (max-width: 700px) {
        background-position: 0 0;
    }

    animation: slideright 0.8s ease-out forwards;
}

#start__animation {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: var(--bgColor);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1000px var(--bgColor);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: start_anim 1s ease-in forwards;
    animation-delay: 1.5s;
    pointer-events: none;
}

@keyframes start_anim {
    from {
        width: 100px;
        height: 100px;
        background-color: var(--bgColor);
    }
    to {
        width: 300vh;
        height: 300vh;
        background-color: transparent;
    }
}

@-webkit-keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
        opacity: 1;
    }
    60% {
        stroke-dashoffset: 0;
        fill: var(--txtColor);
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        fill: var(--txtColor);
        opacity: 0;
    }
}
/* Most browsers */
@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
        opacity: 1;
    }
    60% {
        stroke-dashoffset: 0;
        fill: var(--txtColor);
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        fill: var(--txtColor);
        opacity: 0;
    }
}

@keyframes slideright {
    from {
        right: -1000px;
    }
    to {
        right: 0px;
    }
}

.vector {
    filter: var(--svgFilter);
    width: 50vw;
    position: absolute;
    @media (max-width: 500px) {
        width: 100%;
    }
    path {
        opacity: 0;
    }
}

.active {
    animation: fadein 2s ease-out forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #080808 #333333;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #333333;
}

*::-webkit-scrollbar-thumb {
    background-color: #080808;
    border-radius: 5px;
    border: 1px outset #050505;
}
