.nav__body {
    position: fixed;
    display: flex;
    justify-content: space-around;
    left: 5vw;
    right: 50px;
    margin-top: 0.6rem;
    padding: 10px;
    font-weight: bold;
    background-color: var(--bgColor);
    border-radius: 5px;
    z-index: 99;

    @media (max-width: 700px) {
        margin-top: 0;
        bottom: 0.6rem;
    }
    div {
        margin: 0px 1vw;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    :last-child {
        margin-left: auto;
    }
}
